@page
@model XmlWebEditor.Pages.ExampleModel
@{
    ViewData["Title"] = "teste";
    var result = ViewData["result"];
}
<div>
    <p>Aviso: aqui foi para ter um local de testes. Talvez possa dar erros e bugs ao utilizar o mesmo</p>
    
    <script>
    $('#tree').jstree({
      'core' : {
        'data' : {
          'url' : 'ajax_nodes.html',
          'data' : function (node) {
            return { 'id' : node.id };
          }
        }
      }
    });
    </script>
    
                  

</div>