@page
@model XmlWebEditor.Pages.ExampleModel
@{
    ViewData["Title"] = "teste";
    var result = ViewData["result"];
}
<div>
    <p>Aviso: aqui foi para ter um local de testes. Talvez possa dar erros e bugs ao utilizar o mesmo</p>
    <p> quase 2 horas estudando sobre xmltree e quase nada. Estarei estudando um pouco mais mais tarde (03/02)</p>

</div>